<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikah Malabar | Non-pre View Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link href="web/image/favicon.jpg" rel="icon">

    <link href="web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/icofont/icofont.min.css" rel="stylesheet">
    <link href="web/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="web/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="web/venobox/venobox.css" rel="stylesheet">
    <link href="web/remixicon/remixicon.css" rel="stylesheet">
    <link href="web/aos/aos.css" rel="stylesheet">

    <link href="web/css/style.css" rel="stylesheet">
    <link href="web/css/responsive.css" rel="stylesheet">

</head>
<body>
    
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">
    
          <h1 class="logo"><a href="{% url 'web:index' %}"><img src="web/image/logo.png"  alt=""></a></h1>
            
          <div class="form-group has-search m-0">
            <span class="icofont-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>


          <nav class="nav-menu d-none d-lg-block iconn ">
            <ul>
              <li class="active"><a href="#"><i class="icofont-binoculars text-white mr-2"></i>Explore</a></li>
              <li><a href="#about"><i class="icofont-ui-text-chat mr-2"></i>Chat</a></li>
              <li><a href="#portfolio"><i class="icofont-ui-love-add mr-2"></i>Interests</a></li>
              
              
              <li id="userna"><a href="#features">Username<i class="icofont-ui-user ml-2"></i></a></li>
            </ul>
          </nav><!-- .nav-menu -->


          
          
    
        </div>
      </header><!-- End Header -->
    

    <section class="explore pb-0">
      <div class="container">
          <div class="row exx mb-4">
              
              <div class="col-12">
                <p>View full profile</p> 
              </div>
          </div>
          
      </div>
    </section>

    <div class="container pager boardd">
       
        <div class="row member board">


            <div class="col-12 p-2 ">
                <div class="pager-coll pager-colll">
                <div class="row p15">
                 <div class="col-lg-4 col-md-4 col-sm-12 pr-0 des-img">
                <img src="web/image/profile.jpg" alt="">
                    <div class="d-flex fta">
                <p class="sta"><i class="icofont-star"></i>Add to Star list</p>
                <p class="sta"><i class="icofont-ui-text-chat"></i>Chat</p>
            </div>
             </div>
                


             <div class="col-lg-8 col-md-8 col-sm-12 pro-detail parttt pr-0 view">      
                  
                <h2 class="m-0 KM101">Ayisha Hesh (KM1011201) <span class="float-right disp">Like this profile? <button class="btnn ml-3"><i class="icofont-ui-love mr-2"></i>Like</button></span></h2>
                <div class="row text-center d-none part">
                    <div class="col-4"><h6>Age</h6></div>
                    <div class="col-4"><h6>Marital status</h6></div>
                    <div class="col-4"><h6>Created by</h6></div>

                    <div class="col-4"><h5>22</h5></div>
                    <div class="col-4"><h5>Unmarried</h5></div>
                    <div class="col-4"><h5>Myself</h5></div>

                </div>
                <p class="mb-4 disp"><span class="sp1">22</span> <span class="sp1 ml-3">Unmarried</span>  <span class="sp1 ml-3">Calicut</span> </p> 
                <h2 style="color: #1C57C9;">My self-summary</h2>
                <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sequi corporis possimus? Perferendis maiores maxime repudiandae laborum id asperiores amet delectus similique</p>
                
                
             <div class="row viewp">
                <div class="col-lg-6 col-md-6 col-sm-12">
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>5 ft 5 in | 65 kg | Fit </p>
                <p><span><i class="icofont-user mr-2"></span></i>Muslim | Sunni</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p><span><i class="icofont-flag mr-2"></span></i>Indian</p>
                <p><span><i class="icofont-headphone mr-2"></span></i>Very fair</p>
                <p><span><i class="icofont-book-mark mr-2"></span></i>Asian</p>
                <p><span><i class="icofont-web mr-2"></span></i>Malayalam</p>
                <p><span><i class="icofont-no-smoking mr-2"></span></i>Occasionally</p>
                <p><span><i class="icofont-beverage mr-2"></span></i>Doesn't drink</p>
            </div>

            
                <div class="col-12 d-flex justify-content-center likhh">
                    <div class="d-none three justify-content-center">
                        <div class="row">

                        <div class="col-4"><p class="sta"><i class="icofont-ui-text-chat"></i></p></div>
                        <div class="col-4"><p class="sta"><i class="icofont-heart"></i></p></div>
                        <div class="col-4"><p class="sta"><i class="icofont-star"></i></p></div>
                          
                    </div>
                </div>
                </div>
            
                

                
                </div>
                

            </div> 
        
            
                </div>
            </div>
            </div>
            
            
            

            

        </div>
        <div class="row premium mt-5 minc">
            <div class="col-12">
                <h3>Upgrade to  Premium</h3>
                <p>Upgrade your plan and explore the premium Features!</p>
            </div>
        </div>


        <div class="row number ml-5 mt-5 mlinc fonti">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row">

                    <div class="col-2">
                        <i class="icofont-phone"></i>
                    </div>
                    <div class="col-4 pad00"><h4>Primary Number</h4>
                        <p class="blur">+91 9876543210</p>
                    </div>
                    <div class="col-1 d-none kiml">

                    </div>
                    <div class="col-5 pad00"><h4>Secondary Number</h4>
                        <p class="blur">+91 9876543211</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row number numberr ml-5 mt-5 mlinc fonti">
            <div class="col-12">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 mbdec">
                        <div class="row">
                        <div class="col-2 adrs"><i class="icofont-home"></i></div>
                        
                        <div class="col-10">
                            <h4>Native Address</h4>
                            <p class="blur">Nikah Kerala House, Vaidhyarangadi Ramanattukara, Pin:678 876</p>
                        </div>
                        
                    </div>
                        
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row">
                        <div class="col-2 adrs"><i class="icofont-location-pin"></i></div>
                        
                        <div class="col-10">
                            <h4>Current Address</h4>
                            <p class="blur">Nikah Kerala House, Vaidhyarangadi Ramanattukara, Pin:678 876</p>
                        </div>
                        
                    </div>
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <div class="row number numberr ml-5 mt-5 mlinc">
            <div class="col-lg-8 col-md-9 col-sm-12">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 between">
                        <div class="row wha">
                        <div class="col-lg-3 col-md-3 col-sm-2 col-2 adrs adrss"><img src="web/image/whatsappp.jpg" alt=""></div>
                        
                        <div class="col-lg-9 col-md-9 col-sm-10 col-10">
                            <p class="blur">+91 9876543210</p>
                        </div>
                        
                    </div>
                        
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="row wha">
                        <div class="col-lg-3 col-md-3 col-sm-2 col-2 adrs adrss"><img src="web/image/gmail.png" alt=""></div>
                        
                        <div class="col-lg-9 col-md-9 col-sm-10 col-10">
                            <p class="blur">username@gmail.com</p>
                        </div>
                        
                    </div>
                        
                    </div>

                    
                    
                    
                    
                </div>
            </div>
        </div>

        <div class="row number numberr mt-5 match woah">
            <div class="col-12">
                <div class="row text-center">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        
                            <p><i class="icofont-nerd-smile mr-2"></i> Whooooooooooh,its a great match</p>
                        
                    </div>
                    

                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 disp">
                        
                        <p>92% match</p>
                    
                </div>
                
                
                    
                </div>
            </div>
        </div>


        <div class="text-center privacy">
            <p>Your access to and use of the Nikah Kerala Services or any content is at your own risk. Read Terms& Conditions and Privacy policy <SPAn class="m-0" style="color: #1C57C9;text-decoration: underline;">here</SPAn> </p>
        </div>


        <div class="container pager">
            <h3 class="for">Similiar profile for you</h3>
        <div class="row member similiar">

            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2 ">
                <div class="pager-coll">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 pr-0 simig">
                <img src="web/image/profile.jpg" alt="">
                    <div class="d-flex">
                <p class="sta"><i class="icofont-ui-text-chat"></i></p>
                <p class="sta"><i class="icofont-star"></i></p>
            </div>
             </div>
                


             <div class="col-lg-6 col-md-6 col-sm-6 col-6 pro-detail floa pr-0">      
                 <a class="like"><i class="icofont-ui-love"></i>Like</a>        
                <h4>KM1011201</h4>
                <p>Age  <span class="sp1 ml-4">22</span> </p> 
                <p>Status  <span class="sp2">Unmarried</span></p> 
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>Muslim</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
                <p><span><i class="icofont-location-pin mr-2"></span></i>Kochi</p>
                
            </div> 
        
            
                </div>
            </div>
            </div>
            
            
            
            

            

        </div>
    </div>

    </div>

    
    <div class="container-fluid d-none" id="chatnav">
        <div class="row">
            <div class="col-sm-12">
                <nav class="nav-menu iconn">
                    <ul>
                      <li class="active"><a href="#"><i class="icofont-binoculars mr-2"></i>Explore</a></li>
                      <li><a href="#about"><i class="icofont-ui-text-chat mr-2"></i>Chat</a></li>
                      <li><a href="#portfolio"><i class="icofont-ui-love-add mr-2"></i>Interests</a></li>
                      
                      
                      <li id="userna"><a href="#features"><i class="icofont-ui-user ml-2"></i></a></li>
                    </ul>
                  </nav>
            </div>
        </div>

    </div>        


    <footer>
        <img class="fooo d-none d-lg-block" style="position:absolute; width: 100%;" src="web/image/footer.png" alt="">
        
        <div style="position: relative;" class="container" id="foote">
            <div class="row justify-content-center footer-down">
                <h3>Get started with the mobile app!</h3>
                <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Donec facilisis tortor ut augue lacinia Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                <div class="play">
                    <img src="web/image/android.png" alt="">
                    <img src="web/image/ios.png" alt="">
                </div>
            </div>
           
        </div>
        <div class="container-fluid foo">
        <div class="row text-center">
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>FEATURES</h2> </li>
                    <li>Tour</li>
                    <li>Analytics</li>
                    <li>Security</li>
                    <li>Intelligent AI</li>
                    <li>SmartEngine</li>
                </ul>
            </div>
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>BENEFITS</h2> </li>
                    <li>Management</li>
                    <li>Time Saving</li>
                    <li>Longterm Gains </li>
                    <li>Intelligent AI</li>
                    <li>Forecasting</li>
                </ul>
            </div>
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>DOWNLOADS</h2> </li>
                    <li>Android (Google Play)
                    </li>
                    <li>Apple (App Store)
                    </li>
                    <li>ChromeOS (Coming soon)</li>
                    
                </ul>
            </div>
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>COMPANY</h2> </li>
                    <li>About us

                    </li>
                    <li>Jobs
                    </li>
                    <li>Press & Media
                    </li>
                    <li>Sitemap
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="row text-center pt-3 social">
            <div class="col-12">
                <ul class="d-flex">
                    <li><i class="icofont-youtube"></i></li>
                    <li><i class="icofont-twitter"></i></li>
                    <li><i class="icofont-facebook"></i></li>
                </ul>
            </div>
        </div>
        </div>

    </footer>



  <script src="web/jquery/jquery.min.js"></script>
  <script src="web/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="web/jquery.easing/jquery.easing.min.js"></script>
  <script src="web/php-email-form/validate.js"></script>
  <script src="web/owl.carousel/owl.carousel.min.js"></script>
  <script src="web/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="web/venobox/venobox.min.js"></script>
  <script src="web/waypoints/jquery.waypoints.min.js"></script>
  <script src="web/counterup/counterup.min.js"></script>
  <script src="web/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="web/js/main.js"></script>
</body>
</html>