{% extends 'web/base.html' %}
{% load static %}
{% block title %}Complete Registration{% endblock %}

{% block content %}
    
 <style>
     .error{
         color: red;
     }
 </style>
    
      <section class="profiler">

        <div class="container">
            <div class="row profiler-head">
                
                

                <div class="col-lg-10 col-md-11 col-sm-12 col-11 pro-box">
                    <div class="row text-center">
                        <div class="col-12">
                       <p><span class="">|</span> Create Your Profile   </p>
                    </div>
    
                    </div>
                    <form action="#" name="profiler">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputFirstname">Create Profile by</label>
                                {{form.profileCreated}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputLastname">Name</label>
                                <input name="name" id="name" type="text" class="form-control" placeholder="Lorem">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputAddressLine1">Gender</label>
                                {{form.gender}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputAddressLine2">Community</label>
                                <input name="community" id="community" type="text" class="form-control" id="inputAddressLine2" placeholder="Community">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputCity">Mobile Number</label>
                                <input name="moblie" id="moblie" type="text" class="form-control" placeholder="Number">
                            </div>
                            <div class="col-sm-6">
                                <label for="inputState">Preferred Profile (Caste)</label>
                                <input id="preferredProfile" name="preferredProfile" type="text" class="form-control" placeholder="Lorem">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Date of Birth</label>
                                <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="Contact Number">
                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Your Religion</label>
                                <input name="relegion" id="relegion" type="text" class="form-control" placeholder="Religion">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputWebsite">Nationality</label>
                                {{form.nationality}}
                            </div>
                            <div class="col-sm-3">
                                <label for="inputWebsite">Height</label>
                                <input name="height" id="height" type="text" class="form-control" placeholder="Height">
                            </div>
                            <div class="col-sm-3">
                                <label for="inputWebsite">Weight</label>
                                <input id="weight" name="weight" type="text" class="form-control"  placeholder="Weight">
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Martial Status</label>
                                {{form.martialStatus}}
                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Complexion</label>
                                <input name="complexion" id="complexion" type="text" class="form-control" placeholder="Complexion">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Ethnic Group</label>
                                <input name="ethnicGroup" id="ethnicGroup" type="text" class="form-control" placeholder="Complexion">

                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Body Type</label>
                                {{form.bodyType}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="inputContactNumber">Physical Status</label>
                                <input name="physicalStatus" id="physicalStatus" type="text" class="form-control" placeholder="Physical Status">
                            </div>
                            <div class="col-sm-6">
                                <label for="inputWebsite">Mother Tongue</label>
                                {{form.motherTongue}}
                            </div>
                        </div>

                        <div class="form-group row text-center">
                            <div class="col">
                            <button type="submit" class="btn btn-primary px-4 save">Save & Continue</button>
                        </div>
                        </div>
                            

                    </form>
                </div>
            </div>
        </div>

      </section>



      
      {% block javascript %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <!--  validation script  -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
        <script src="{% static 'web/js/profiler.js' %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="{% static 'web/js/header.js' %}"></script>
     {% endblock %}

    {% endblock %}
