{% extends 'web/base.html' %}
{% load static %}
{% block title %}SignUp{% endblock %}

{% block content %}
    
<style>
    form .error{
        color: red;
        font-weight: 600;
    }
</style>
   

      
      <section class="login" id="signup">
        <div class="container">
            <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-9 col-10 login-co">
                    <form action="" name="signup_form">
                        {% csrf_token %}
                        <h3>SIGNUP <span style="color: black;"><i class="icofont-user" ></i></span> </h3>
                        <p class="soul">You need to create an account before you can Find your soulmate</p> 
                        <div style="text-align: -webkit-center;">
                            <hr class="soul-hr">
                        </div>
                        <p>Email *  </p>
                        <input id="email" name="email" class="form-control" type="text" placeholder="Username">
                        <p id="emailwarning" class="warning"></p>
                        <p>Password * </p>

                        <input id="password1" name="password1" class="form-control" type="password" placeholder="Password">
                        <p>Confirm Password * </p>
                        <input id="password2" name="password2" class="form-control" type="password" placeholder="Re-type your Password">
                        <ul class="signup">
                            <li> <span class="opt" style="margin-left: 0%;">Email address will only be used to send you notifications</span> </li>
                            <li style="font-weight: 600; text-align: justify;">If you choose not to provide an email address we will not be able to provide password recovery nor any access to your account funds if you lose your username/password.</li>
                        </ul>

                        <button type="submit" id="apireq" class="btn btn-primary mb-2">Next</button>
                        <hr>
                        <a href="#" class="text-center google"> <img width="30px" src="{% static 'web/image/google.png' %}" alt=""> Signup With Google</a>
                       
                        <p class="forgot text-center">Already have an account ?</p>
                        <a href="{% url 'web:login' %}" ><p class="forgot text-center sign">Login</p></a>
                    </form>

                </div>
            </div>
        </div>
      </section>
      

{% block javascript %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <!--  validation script  -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
<script src="{% static 'web/js/signup.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

{% endblock %}

{% endblock %}
