<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikah Malabar | You Like</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link href="web/image/favicon.jpg" rel="icon">

    <link href="web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/icofont/icofont.min.css" rel="stylesheet">
    <link href="web/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="web/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="web/venobox/venobox.css" rel="stylesheet">
    <link href="web/remixicon/remixicon.css" rel="stylesheet">
    <link href="web/aos/aos.css" rel="stylesheet">

    <link href="web/css/style.css" rel="stylesheet">
    <link href="web/css/responsive.css" rel="stylesheet">

</head>
<body>
    
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">
    
          <h1 class="logo"><a href="{% url 'web:index' %}"><img src="web/image/logo.png"  alt=""></a></h1>
            
          <div class="form-group has-search m-0">
            <span class="icofont-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>


          <nav class="nav-menu d-none d-lg-block iconn">
            <ul>
              <li class="active"><a href="#"><i class="icofont-binoculars text-white mr-2"></i>Explore</a></li>
              <li><a href="#about"><i class="icofont-ui-text-chat mr-2"></i>Chat</a></li>
              <li><a href="#portfolio"><i class="icofont-ui-love-add-add mr-2"></i>Interests</a></li>
              
              
              <li id="userna"><a href="#features">Username<i class="icofont-ui-user ml-2"></i></a></li>
            </ul>
          </nav><!-- .nav-menu -->


          
          
    
        </div>
      </header><!-- End Header -->
    

    <section class="explore pb-0">
      <div class="container">
          <div class="row exx inter">
              
              
              <div class="col-12 smsm">
                <p> <span><i class="icofont-ui-love-add" style="color: #00AB3B;"></i></span> Interests</p> 
              </div>

              <div class="col-6 hrr">

              </div>

              <div class="col-12">
                  <ul class="d-flex">
                     <li >  <a href="likesyou.html">Likes You </a></li>
                     <li>  <a href="match.html">Match </a></li>
                     <li>  <a class="activee" href="youlike.html">You Like </a></li>
                     
                  </ul>
              </div>
          </div>
          
      </div>
    </section>

    <div class="container pager mt-3">
        <div class="row member">


            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2 ">
                <div class="pager-coll">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-0 likt">
                <img src="web/image/profile.jpg" alt="">
                    <div class="d-flex" id="likesthreed">
                <p class="sta staa"><i class="icofont-ui-text-chat"></i></p>
                <p class="sta staa"><i class="icofont-star"></i></p>
            </div>
                     </div>
                


             <div class="col-lg-6 col-md-6 col-sm-12 col-12 pro-detail matchdetail pr-0">      
                 <div class="matchh">
                    <i class="icofont-ui-love-add"></i>
                    <p>89% Match</p>
                 </div>       
                <h4>KM1011201</h4>
                <p>Age  <span class="sp1 ml-4">22</span> </p> 
                <p>Status  <span class="sp2">Unmarried</span></p> 
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>Muslim</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
                <p><span><i class="icofont-location-pin mr-2"></span></i>Kochi</p>
                
            </div> 
        
            
                </div>
                <div class="d-none three justify-content-center">
                    <p class="sta"><i class="icofont-ui-text-chat"></i></p>
                    <p class="sta matcsm"><i class="icofont-ui-love-add"> 89% Match</i></p>
                    <p class="sta"><i class="icofont-star"></i></p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2 ">
                <div class="pager-coll">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-0 likt">
                <img src="web/image/profile.jpg" alt="">
                    <div class="d-flex" id="likesthreed">
                <p class="sta staa"><i class="icofont-ui-text-chat"></i></p>
                <p class="sta staa"><i class="icofont-star"></i></p>
            </div>
                     </div>
                


             <div class="col-lg-6 col-md-6 col-sm-12 col-12 pro-detail matchdetail pr-0">      
                 <div class="matchh">
                    <i class="icofont-ui-love-add"></i>
                    <p>89% Match</p>
                 </div>       
                <h4>KM1011201</h4>
                <p>Age  <span class="sp1 ml-4">22</span> </p> 
                <p>Status  <span class="sp2">Unmarried</span></p> 
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>Muslim</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
                <p><span><i class="icofont-location-pin mr-2"></span></i>Kochi</p>
                
            </div> 
        
            
                </div>
                <div class="d-none three justify-content-center">
                    <p class="sta"><i class="icofont-ui-text-chat"></i></p>
                    <p class="sta matcsm"><i class="icofont-ui-love-add"> 89% Match</i></p>
                    <p class="sta"><i class="icofont-star"></i></p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2 ">
                <div class="pager-coll">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-0 likt">
                <img src="web/image/profile.jpg" alt="">
                    <div class="d-flex" id="likesthreed">
                <p class="sta staa"><i class="icofont-ui-text-chat"></i></p>
                <p class="sta staa"><i class="icofont-star"></i></p>
            </div>
                     </div>
                


             <div class="col-lg-6 col-md-6 col-sm-12 col-12 pro-detail matchdetail pr-0">      
                 <div class="matchh">
                    <i class="icofont-ui-love-add"></i>
                    <p>89% Match</p>
                 </div>       
                <h4>KM1011201</h4>
                <p>Age  <span class="sp1 ml-4">22</span> </p> 
                <p>Status  <span class="sp2">Unmarried</span></p> 
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>Muslim</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
                <p><span><i class="icofont-location-pin mr-2"></span></i>Kochi</p>
                
            </div> 
        
            
                </div>
                <div class="d-none three justify-content-center">
                    <p class="sta"><i class="icofont-ui-text-chat"></i></p>
                    <p class="sta matcsm"><i class="icofont-ui-love-add"> 89% Match</i></p>
                    <p class="sta"><i class="icofont-star"></i></p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2 ">
                <div class="pager-coll">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-0 likt">
                <img src="web/image/profile.jpg" alt="">
                    <div class="d-flex" id="likesthreed">
                <p class="sta staa"><i class="icofont-ui-text-chat"></i></p>
                <p class="sta staa"><i class="icofont-star"></i></p>
            </div>
                     </div>
                


             <div class="col-lg-6 col-md-6 col-sm-12 col-12 pro-detail matchdetail pr-0">      
                 <div class="matchh">
                    <i class="icofont-ui-love-add"></i>
                    <p>89% Match</p>
                 </div>       
                <h4>KM1011201</h4>
                <p>Age  <span class="sp1 ml-4">22</span> </p> 
                <p>Status  <span class="sp2">Unmarried</span></p> 
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>Muslim</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
                <p><span><i class="icofont-location-pin mr-2"></span></i>Kochi</p>
                
            </div> 
        
            
                </div>
                <div class="d-none three justify-content-center">
                    <p class="sta"><i class="icofont-ui-text-chat"></i></p>
                    <p class="sta matcsm"><i class="icofont-ui-love-add"> 89% Match</i></p>
                    <p class="sta"><i class="icofont-star"></i></p>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-2 ">
                <div class="pager-coll">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-0 likt">
                <img src="web/image/profile.jpg" alt="">
                    <div class="d-flex" id="likesthreed">
                <p class="sta staa"><i class="icofont-ui-text-chat"></i></p>
                <p class="sta staa"><i class="icofont-star"></i></p>
            </div>
                     </div>
                


             <div class="col-lg-6 col-md-6 col-sm-12 col-12 pro-detail matchdetail pr-0">      
                 <div class="matchh">
                    <i class="icofont-ui-love-add"></i>
                    <p>89% Match</p>
                 </div>       
                <h4>KM1011201</h4>
                <p>Age  <span class="sp1 ml-4">22</span> </p> 
                <p>Status  <span class="sp2">Unmarried</span></p> 
                <p><span><i class="icofont-users-alt-3 mr-2"></span></i>Muslim</p>
                <p><span><i class="icofont-web mr-2"></span></i>B-Tech</p>
                <p><span><i class="icofont-bag mr-2"></span></i>UI/UX Designer</p>
                <p><span><i class="icofont-location-pin mr-2"></span></i>Kochi</p>
                
            </div> 
        
            
                </div>
                <div class="d-none three justify-content-center">
                    <p class="sta"><i class="icofont-ui-text-chat"></i></p>
                    <p class="sta matcsm"><i class="icofont-ui-love-add"> 89% Match</i></p>
                    <p class="sta"><i class="icofont-star"></i></p>
                </div>
            </div>
            </div>

            
            
            
            

            

        </div>
    </div>

      

    <div class="container-fluid d-none" id="chatnav">
        <div class="row">
            <div class="col-sm-12">
                <nav class="nav-menu iconn">
                    <ul>
                      <li><a href="#"><i class="icofont-binoculars mr-2"></i>Explore</a></li>
                      <li><a href="#about"><i class="icofont-ui-text-chat mr-2"></i>Chat</a></li>
                      <li class="active"><a href="#portfolio"><i class="icofont-ui-love-add mr-2"></i>Interests</a></li>
                      
                      
                      <li id="userna"><a href="#features"><i class="icofont-ui-user ml-2"></i></a></li>
                    </ul>
                  </nav>
            </div>
        </div>

    </div>   
      


    <footer>
        <img class="fooo d-none d-lg-block" style="position:absolute; width: 100%;" src="web/image/footer.png" alt="">
        
        <div style="position: relative;" class="container" id="foote">
            <div class="row justify-content-center footer-down">
                <h3>Get started with the mobile app!</h3>
                <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Donec facilisis tortor ut augue lacinia Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                <div class="play">
                    <img src="web/image/android.png" alt="">
                    <img src="web/image/ios.png" alt="">
                </div>
            </div>
           
        </div>
        <div class="container-fluid foo">
        <div class="row text-center">
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>FEATURES</h2> </li>
                    <li>Tour</li>
                    <li>Analytics</li>
                    <li>Security</li>
                    <li>Intelligent AI</li>
                    <li>SmartEngine</li>
                </ul>
            </div>
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>BENEFITS</h2> </li>
                    <li>Management</li>
                    <li>Time Saving</li>
                    <li>Longterm Gains </li>
                    <li>Intelligent AI</li>
                    <li>Forecasting</li>
                </ul>
            </div>
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>DOWNLOADS</h2> </li>
                    <li>Android (Google Play)
                    </li>
                    <li>Apple (App Store)
                    </li>
                    <li>ChromeOS (Coming soon)</li>
                    
                </ul>
            </div>
            <div class="col-lg-3 col-6 footer-list">
                <ul>
                    <li> <h2>COMPANY</h2> </li>
                    <li>About us

                    </li>
                    <li>Jobs
                    </li>
                    <li>Press & Media
                    </li>
                    <li>Sitemap
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="row text-center pt-3 social">
            <div class="col-12">
                <ul class="d-flex">
                    <li><i class="icofont-youtube"></i></li>
                    <li><i class="icofont-twitter"></i></li>
                    <li><i class="icofont-facebook"></i></li>
                </ul>
            </div>
        </div>
        </div>

    </footer>



  <script src="web/jquery/jquery.min.js"></script>
  <script src="web/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="web/jquery.easing/jquery.easing.min.js"></script>
  <script src="web/php-email-form/validate.js"></script>
  <script src="web/owl.carousel/owl.carousel.min.js"></script>
  <script src="web/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="web/venobox/venobox.min.js"></script>
  <script src="web/waypoints/jquery.waypoints.min.js"></script>
  <script src="web/counterup/counterup.min.js"></script>
  <script src="web/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="web/js/main.js"></script>
</body>
</html>