{% load static %}

<footer>
    <img class="fooo d-none d-lg-block" style="position:absolute; width: 100%;" src="{% static 'web/image/footer.png' %}" alt="">
    
    <div style="position: relative;" class="container" id="foote">
        <div class="row justify-content-center footer-down">
            <h3>Get started with the mobile app!</h3>
            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Donec facilisis tortor ut augue lacinia Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
            <div class="play">
                <img src="{% static 'web/image/android.png' %}" alt="">
                <img src="{% static 'web/image/ios.png' %}" alt="">
            </div>
        </div>
       
    </div>
    <div class="container-fluid foo">
    <div class="row text-center">
        <div class="col-lg-3 col-6 footer-list">
            <ul>
                <li> <h2>FEATURES</h2> </li>
                <li>Tour</li>
                <li>Analytics</li>
                <li>Security</li>
                <li>Intelligent AI</li>
                <li>SmartEngine</li>
            </ul>
        </div>
        <div class="col-lg-3 col-6 footer-list">
            <ul>
                <li> <h2>BENEFITS</h2> </li>
                <li>Management</li>
                <li>Time Saving</li>
                <li>Longterm Gains </li>
                <li>Intelligent AI</li>
                <li>Forecasting</li>
            </ul>
        </div>
        <div class="col-lg-3 col-6 footer-list">
            <ul>
                <li> <h2>DOWNLOADS</h2> </li>
                <li>Android (Google Play)
                </li>
                <li>Apple (App Store)
                </li>
                <li>ChromeOS (Coming soon)</li>
                
            </ul>
        </div>
        <div class="col-lg-3 col-6 footer-list">
            <ul>
                <li> <h2>COMPANY</h2> </li>
                <li>About us

                </li>
                <li>Jobs
                </li>
                <li>Press & Media
                </li>
                <li>Sitemap
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row text-center pt-3 social">
        <div class="col-12"  id="footer">
            <ul class="d-flex">
                <li><i class="icofont-youtube"></i></li>
                <li><i class="icofont-twitter"></i></li>
                <li><i class="icofont-facebook"></i></li>
            </ul>
        </div>
    </div>
    </div>

</footer>